#contentContainer {
  margin-top: 6rem;
}

#title-image {
  position: relative;
  text-align: center;
  color: rgb(239, 213, 27);
  margin-bottom: 3rem;
}

#center-brand {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-main {
  margin-right: 2rem;
}

#name-main {
  font-size: 4rem;
  font-weight: bold;
}

#tagline-main {
  margin-top: 2rem;
  font-size: 1.5rem;
}

#info-block {
}

#info-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#info-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#info-text:last-child {
  margin-bottom: 5rem;
}

#contact-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#contact-info {
  margin-left: 3rem;
}

#contact-address,
#contact-city,
#contact-number,
#contact-fax {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

#contact-address {
  margin-bottom: 0.5rem;
}

#contact-fax {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 992px) {

  #contentContainer {
    margin-top: 5rem;
  }

  #contact-header {
    margin-bottom: 2rem;
    padding: 0;
  }

  #contact-content {
    text-align: center;
  }

  #contact-info {
    margin-left: 0;
    margin-bottom: 4rem;
  }

}