#navbar{
  background-color: rgba(0, 0, 0, 0.7);
}

#logo {
  float: left;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
}

#brand-title {
  display: flex;
  height: 2rem;
  align-items: center;
  color: rgb(239, 213, 27);
  font-size: 1.3rem;
  font-weight: bold;
}

#toggle {
  background-color: white;
  border: 2px solid rgb(239, 213, 27);
  border-radius: 8px;
}

.dropdown-toggle::after {
  color: white;
}

#navlink {
  color: white;
  font-size: 1.1rem;
  padding: 0 2rem;
}

@media only screen and (max-width: 1050px) {

  #brand-title {
    display: none;
  }

}